sshfs_remote_host=127.0.0.1
sshfs_remote_port=11111
sshfs_remote_user=pi
sshfs_remote_dir=/mnt
sshfs_remote_user_key=/home/pheanex/.ssh/raspberry_private
sshfs_local_dir=/home/pheanex/sshfs_local_dir
encfs_decrypted_dir=/home/pheanex/backup_decrypted
password={{raspberry_pheanex_encfs_pw}}
