sshfs_remote_host=vetinari.nonymus.de
sshfs_remote_user=pheanex
sshfs_remote_dir=/home/pheanex/backup
sshfs_remote_user_key=/home/pheanex/.ssh/julian_pheanex_backup_key
sshfs_local_dir=/home/pheanex/sshfs_local_dir
encfs_decrypted_dir=/home/pheanex/backup_decrypted
password={{vetinari_pheanex_encfs_pw}}
